.songerrors{
    color: cyan;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.meta-irony {
    color: navy;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size:13.1332464243624353;
}

.yesdog {
    font-size: 9px;
}